body {
    background-image: url("zacht%20hout%2001.jpg");
    background-attachment: fixed;
    background-color:antiquewhite;
    
    width: 100%;
    height: auto;
}

#titelbalk {
    background-image: url("blauwe%20marmer%2004.jpg");
    
    display: block;
    text-align: center;
    font-size: calc(16px + 4vw);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    background-color: skyblue;
    position: fixed;
    width: 100%;
    top: 0;
}

#titel0 {
    position: relative;
    display: inline-block;
    
    left:6%;
    transform: rotate(-67deg);
    
    color: lightgreen;
    font-family: cursive;
    font-size: calc(10px + 4vw);
    vertical-align: center;
}

#titel1 {
    display: inline-block;
    transform: translate(0,0);
    color: aliceblue;
}

#titel2 {
    display: inline-block;
    transform: translate(-2.7vw,0);
    color: aliceblue;
}

#auteur {
    display: inline-block;
    position: absolute;
    top: 1vw;
    left: 1vw;
    font-size: calc(4px + 1vw);
    font-weight: 500;
    color: aliceblue;
    /*transform: translate(-2vw,-5vw);*/
}

#documentatie {
    display: inline-block;
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    font-size: calc(4px + 1vw);
    color: aliceblue;
    font-weight: 500;
}

#gmap-starticon {
    display: inline-block;
    transform: translate(2vw,0.6vw);    
}


#gmap-targeticon {
    display: inline-block;
    transform: translate(-1.4vw,0.6vw);
}


.material-icons {
    top: 2vw;
    right: 4vw;
    color: red;
    font-size: calc(16px + 4vw);
    border: 0px;
    padding: 0px;
    margin: 0px;
}


#inhoud {
    padding: 8px;
    margin-top: calc(30px + 4vw);
    height: 100%;
}


#mapContainer {
    position: absolute;
    height: 80%;
    width: 80%;
    top:50%;
    left:50%;
    background-color: azure;
    z-index: 4;
    display: none;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#gMap {
    position: absolute;
    height: 93%;
    width: 100%;
    display: none;
    bottom: 0px;
    z-index: 5;
    background-color: antiquewhite;
}

#routeplannerMap {
    position: absolute;
    height: 93%;
    width: 65%;
    display: none;
    bottom: 0px;
    left: 0;
    z-index: 5;
    background-color: antiquewhite;
}

#info-panel {
    position: absolute;
    right: 0;
    height: 93%;
    width: 35%;
    padding: 4px;
    display: none;
    bottom: 0px;
    overflow: auto;
    z-index: 5;
    background-color: white;
}


#mapBovenbalk {
    top: 0px;
    background-image: url("blauwe%20marmer.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid #999;
    height: 7%;
    white-space: nowrap;
}

#floating-panel {
    position: absolute;
    top: 1vh;
    left: 5%;
    /*padding: 5px;*/
    /*vertical-align: middle;*/
    /*border: 1px solid #999;*/
    text-align: center;
    
    font-family: 'Roboto','sans-serif';
    font-size: 2.5vh;
    line-height: 4vh;
    height: 100%;
    display: none;
}

#mapSluiter {
    position: absolute;
    font-size: calc(6px + 3.7vh);
    right: 0.5vh;
    top: 0.3vh;
    color: red;
}

#printer { /* printer icoon om adrukbare formaat mogelijk te maken */
    position: absolute;
    top: 0.3vh;
    left: 80%;
    font-size: calc(5px + 3.3vh);
    color: blue;
    vertical-align: middle;
}

#printFrame {
    width: 75%;
    height: 90%;
    background-color: white;
    z-index: 8;
}

#adressenContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.eenAdres{
    font-size: calc(12px + 0.7vw);
    display: inline-block;
    /* width: 30vw;
    height: 30vw; */
    padding: 1vw;
    background-color: azure;
    border:1px solid black;
    border-radius: 1.5vw;
    margin: 1.5vw;
    cursor: pointer; 
}

.eenAdres:hover{
    box-shadow: 8px 8px 8px grey;
    -ms-transform: translate(-8px, -8px); /* IE 9 */
    -webkit-transform: translate(-8px, -8px); /* Safari */
    transform: translate(-8px, -8px);
}

.eenAdres >p {
    margin: 0px;
}

#onderBalk {
    background-image: url("zacht%20hout%2001.jpg");
    position: fixed;
    width: 100%;
    height: calc(40px + 4vw);
    bottom: 0vw;
    border: 1px black;
    /*background-color: red;*/
    background: linear-gradient(to top, antiquewhite, rgba(250,235,215,0));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    white-space: nowrap;
    /*align-items: center;*/

    z-index: 1;
}

#prullebak {
    display: block;
    position: absolute;
    font-size: calc(20px + 2.5vw);
    color: blue;
    bottom: 2vw;
    left: 3vw;
    z-index: 1;
}

#btnRecordToevoegen {
    display: block;
    position: absolute;
    bottom: 3vw;
    right: 3vw;
    box-shadow: 0.5vw 0.5vw 0.5vw grey;
    /* background-color: burlywood; */
    border: none;
    border-radius: 1.2vw;
    z-index: 1;
}


#btnSorteerAchternaam, #btnSorteerVoornaam {
    display: block;
    position: absolute;
    bottom: 3vw;
    /*right: 3vw;*/
    /*align-self: center;*/
    box-shadow: 0.3vw 0.3vw 0.3vw grey;
    /* background-color: burlywood; */
    border: none;
    border-radius: 1.2vw;
    z-index: 1;
}


#overlay { /* om te voorkomen dat tijdens het invoeren/muteren achtergrond adressen aangeklikt/geactiveerd kunnen worden. */
    
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height:100%;
    z-index: 2;
    display: none;
}

#printer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height:100%;
    z-index: 9999;
    /*background-color: gray;*/
    display: none;
}

input:valid {
    background-color: seashell;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 1vw;
    color: black;
}


input:invalid {
    background-color: salmon;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 1vw;
    color: white;
}

#invoerFormulier, #mutatieFormulier {
    display: none;
    width: calc(width / 2);
    height: calc(height / 2);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: burlywood;
    padding: 1.5vw;
    border-radius: 1.5vw;
    border:1px solid black;
    white-space: nowrap; 
    color: black;
    /* font-size is responsief, maar minimaal 10px */
    font-size: calc(8px + 0.7vw);
    position: absolute;
    overflow: auto;
    top: 50%;
    left: 50%;
    box-shadow: 1vw 1vw 1vw grey;
    z-index: 4;
    vertical-align: middle;    
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


#btnRecordToevoegen > .btn, #btnRecordToevoegen > .btn-info, #btnRecordToevoegen > .btn-lg {
    border-radius: inherit;
    font-size: calc(14px + 0.7vw);
    padding: calc(8px + 0.6vw);
    border: calc(5px + 0.4vw);
    
}

#btnSorteerAchternaam > .btn, #btnSorteerAchternaam > .btn-info, #btnSorteerAchternaam > .btn-lg,
#btnSorteerVoornaam > .btn, #btnSorteerVoornaam > .btn-info, #btnSorteerVoornaam > .btn-lg{
    border-radius: inherit;
    font-size: calc(10px + 0.7vw);
    padding: calc(6px + 0.6vw);
    border: calc(5px + 0.4vw);

}

.formButtons {
    display: block;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: calc(8px + 0.4vw);
    align-self: center;
    
}

.formButtons > div {
    font-size: calc(8px + 0.7vw);
    padding: calc(5px + 0.5vw);
    margin-left: 2vw;
    margin-right: 2vw;

}

.dropup {
    position: relative;
    display: inline-block;
    align-self: center
}

